<head>
  <meta charset="utf-8">
  <meta name="google" content="notranslate" />
  <meta name="robots" {% if page.title == "Web" or page.title == "Software" or page.title == "Hardware" or page.title == "About" %}content="noindex"{% else %}content="noarchive"{% endif %} />
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title == "Home" %}{{ site.title }} &middot; where you find tips and tutorials about technology{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Varela+Round" rel="stylesheet">
  <link href="/styles.css" rel="stylesheet">
  <link sizes="180x180" href="/public/touch-icon-iphone.png" rel="apple-touch-icon">
  <link sizes="167x167" href="/public/touch-icon-ipad.png" rel="apple-touch-icon">
  <link href="/public/favicon.ico" rel="shortcut icon">
  <link href="/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }}" />
</head>
