<span class="post-categories readtime" style="display:inline" title="Estimated read time">
  {% assign lpth = page.path | split: "/" | last  %}
  {% if lpth == "index.html" or lpth == "web.md" or lpth == "software.md" or lpth == "hardware.md" %}
  {% assign nwords = post.content | strip_newlines | markdownify | strip_html | number_of_words | decrement %}
  {% else %}
  {% assign nwords = content | strip_newlines | markdownify | strip_html | number_of_words | decrement %}
  {% endif %}
  {% if lpth == "web.md" or lpth == "software.md" or lpth == "hardware.md" %}
  {% if nwords < 90 %}
  Less than 1 min read
  {% elsif nwords == 90 or nwords > 90 and nwords < 180 %}
  1 min read
  {% else %}
  {{ nwords | divided_by:90 }} mins read
  {% endif %}
  {% else %}
  {% if nwords < 90 %}
  &middot;&nbsp;less than 1 min read
  {% elsif nwords == 90 or nwords > 90 and nwords < 180 %}
  &middot;&nbsp;1 min read
  {% else %}
  &middot;&nbsp;{{ nwords | divided_by:90 }} mins read
  {% endif %}
  {% endif %}
</span>
