.b0 {
  visibility: visible;
  position: fixed;
  left: 1.5rem;
  top: 1.5rem;
  width: 3rem;
  height: 3rem;
  background: #555555;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform .2s;
}

.b0:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.b1 {
  position: absolute;
  top: .56rem;
  left: .77rem;
  display: block;
  width: 1.55rem;
  height: .75rem;
  background-color: white;
  border-radius: 50% 22% 22% 50% / 0% 50% 50% 0%;
}

.b2 {
  position: absolute;
  bottom: .56rem;
  left: .77rem;
  display: block;
  width: 1.65rem;
  height: .75rem;
  background-color: white;
  border-radius: 50% 20% 20% 50% / 0% 50% 50% 0%;
}
