.b0 {
  visibility: visible;
  position: fixed;
  left: 1.5rem;
  top: 1.5rem;
  width: auto;
  height: 2.5rem;
  transition: transform .2s;
  image-rendering: high-quality;
}

.b0:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
