// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top:    0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 3rem;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #515151;
  //color: rgba(100,100,100, 0.8);
  //text-shadow: 1px 4px 6px #F5F5F5, 0 0 0 #000, 1px 4px 6px #F5F5F5;
  background-position:left 3.5rem bottom;
  background-color:#F5F5F5;
  background-image: url('/public/apple-touch-icon-precomposed.png');
  background-size:contain;
  background-repeat:no-repeat;
  //padding-top:1.5rem;
  padding-top:1rem;
  max-width:100%;
  //padding-bottom:1rem;
  padding-bottom:0.5rem;
  //padding-left:9rem;
  padding-left:9.5rem;
  padding-right:0rem;
  box-shadow: 0px 2px 0px #515151;
  overflow:hidden;

  a {
    color: #515151;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    color: #c0c0c0;
    letter-spacing: 0;
  } 
}

@media screen and (max-width: 45rem) {
  .masthead-title {
     background-position:left 2.5rem bottom;
     padding-left:9rem;
  }
}

@media screen and (max-width: 28rem) {
  .masthead-title {
     background-position:left 1.5rem bottom;
     padding-left:9rem;
  }
}

@media screen and (max-width: 20rem) {
  .masthead-title {
     background-position:left 0.4rem bottom;
     padding-left:8rem;
  }
}