.navigation {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 100vh;
  position: fixed;
  top: 0;
  //right: 0;
  //bottom: 0;
  left: -10rem;
  z-index: 0;
  list-style: none;
  background: #3d3d3d;
  //visibility:hidden;
}

.nav-item {
  width: 10rem;
  display: flex;
  flex-direction: column;
}

.nav-item a {
  padding: 1em;
  //height: 3.5rem;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: #cecece;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: #c74438;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);
}

.nav-item-fill {
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}

.fill-all {
  height:auto;
  flex-grow: 1;
}


/*.nav-item {
  width: 10rem;
}

.nav-item a {
  display: block;
  padding: 1em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: #cecece;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: #c74438;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);
}

.nav-item-fill {
  display: block;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  width: 10rem;
}

.fill-all {
  display: flex;
  align-items: stretch;
  height: 90%;
  position: relative;
  bottom: 0;
}*/

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  visibility: hidden;
  position: fixed;
  left: 0rem;
  top: 0rem;
  z-index: 2;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

.nav-trigger + label, .wrap, .navigation {
  transition: left 0.2s;
}

.nav-trigger:checked ~ .wrap {
  left: 10rem;
  filter:blur(2px);
}

.nav-trigger:checked ~ label {
  visibility: visible;
  left: 10rem;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.nav-trigger:checked ~ .navigation {
  left:0;
  transition: left 0s;
}

/*.nav-trigger:checked ~ .navigation {
  -webkit-transition: visibility 0s, background-color 0s;
  transition: visibility 0s, background-color 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  visibility: visible;
  background: #3d3d3d;
}

.nav-trigger:not(:checked) ~ .navigation {
  -webkit-transition: visibility 0s, background-color 0s;
  transition: visibility 0s, background-color 0s;
  -webkit-transition-delay: 3s;
  transition-delay: 3s;
}*/
