<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
  <label for="nav-trigger">
    <span class="b0">
    <span class="b1"></span>
    <span class="b2"></span></span>
  </label>
  <ul class="navigation">
    <li class="nav-item-fill" style="height:6rem;"></li>
    <li class="nav-item"><a class="nohover" href="/">Home</a></li>
    {% for page in site.pages_list %}<li class="nav-item"><a class="nohover" href="{{ page[1] }}">{{ page[0] }}</a></li>{% endfor %}
    <li class="nav-item-fill fill-all"></li>
  </ul>
  <span class="wrap">
    <div class="container content">
      <main>
        {{ content }}
      </main>
      <footer class="footer">
        <small>
          &nbsp;{{ 'now' | date: '%Y' }}&nbsp;<a class="up" href="#top"></a>
        </small>
      </footer>
    </div>
  </span>
</body>
</html>
