---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-categories">
      {% for category in page.categories %}
        {{category}}
      {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}{% include readtime.html %}
    </div>
  {{ content }}
</article>{% assign ptitle = page.title | url_param_escape %}
<span class="post-share"><small>Share:&nbsp;</small></span>
<a class="post-share" href="mailto:?subject={{ ptitle }}&body={{ site.url }}{{ page.url }}"><small>EMail</small></a>
<span class="post-share"><small>&middot;</small></span>
<a class="post-share" href="https://reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ ptitle }}"><small>Reddit</small></a>
<span class="post-share"><small>&middot;</small></span>
<a class="post-share" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ ptitle }}"><small>Twitter</small></a>
<span class="post-share"><small>&middot;</small></span>
<a class="post-share" href="https://t.me/share/url?text={{ ptitle }}&url={{ site.url }}{{ page.url }}"><small>Telegram</small></a>
<span class="post-share"><small>&middot;</small></span>
<a class="post-share" href="https://api.whatsapp.com/send?text={{ ptitle }}%20{{ site.url }}{{ page.url }}"><small>Whatsapp</small></a>
<span class="post-share post-share-mobile"><small>&middot;</small></span>
<a class="post-share post-share-mobile" href="threema://compose?text={{ ptitle }}%20{{ site.url }}{{ page.url }}"><small>Threema</small></a>

<h3>
  <noscript>
    <style type="text/css">
        .jsback {display:none;}
    </style>
    <a href="/"><small>Back to Home page</small></a>
  </noscript>
  <script>
    function historyBackFallback(fallbackUrl) {
    fallbackUrl = fallbackUrl || '/';
    var prevPage = window.location.href;

    window.history.back();

    setTimeout(function(){ 
        if (window.location.href == prevPage) {
            window.location.href = fallbackUrl; 
        }
    }, 1000);
    }
  </script>
  <a class="jsback" style="cursor: pointer;" onclick="historyBackFallback()"><small>Back to previous page</small></a>
</h3>
